---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <body class="bg-gray-400 font-sans text-stone-800">
    <main id="resume" class="mx-auto mb-12 max-w-4xl bg-white px-8 lg:px-0">
      <!-- Top link -->
      <div class="w-full py-1 text-center">
        <a href="/" class="text-sm text-blue-600">« Return to the home page</a>
      </div>

      <!-- Hero -->
      <div class="border-b border-gray-300 py-8 text-center">
        <h1 class="font-serif text-6xl font-medium">Brian Bugh</h1>
        <h2 class="mt-5 font-serif text-2xl">Systems Engineer</h2>
      </div>

      <!-- About Me -->
      <div class="flex flex-col border-b border-gray-300 py-4 md:flex-row">
        <div class="font-bold md:w-1/4">
          <h2 class="mb-1 font-serif text-lg">About Me</h2>
        </div>
        <div class="border-l border-gray-300 pl-4 md:w-3/4">
          <div class="text-lg font-bold text-orange-600">
            Generalist System Engineer
          </div>
          <p>
            <strong>
              I have been a full stack, systems, and embedded software engineer
              for 30 years.
            </strong>
            When someone says "what can you do?", the honest answer is "almost anything".
            I specialize in not specializing: I am an technology generalist who can
            quickly adapt to new technologies and domains. If I don't know it already,
            I will learn it quickly. I have worked in industries ranging from healthcare
            to video games to finance to education.
          </p>

          <div class="mt-4 text-lg font-bold text-orange-600">Leadership</div>
          <p>
            <strong>
              I've led multiple teams of developers, designers, sales, etc.
            </strong>
            in my role as technical cofounder and/or CTO of multiple startups, as
            well as leading teams in larger organizations. My leadership style is
            collaborative and empowering, focused on bringing out the best in each
            team member while ensuring we meet our goals effectively and efficiently.
          </p>
        </div>
      </div>

      <!-- Primary technologies -->
      <div class="flex flex-col border-b border-gray-300 py-4 md:flex-row">
        <div class="font-bold md:w-1/4">
          <h2 class="mb-1 font-serif text-lg">Recently used technologies</h2>
        </div>
        <div class="border-l border-gray-300 pl-4 md:w-3/4">
          <ul class="mb-4 flex flex-wrap gap-2">
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              TypeScript/JavaScript
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              HTML
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              CSS
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Git/SCM
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Photoshop
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              SQL
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Ruby/Rails
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              bash
            </li>
          </ul>
        </div>
      </div>

      <!-- Frameworks -->
      <div class="flex flex-col border-b border-gray-300 py-4 md:flex-row">
        <div class="font-bold md:w-1/4">
          <h2 class="mb-1 font-serif text-lg">Frameworks</h2>
        </div>
        <div class="border-l border-gray-300 pl-4 md:w-3/4">
          <ul class="mb-4 flex flex-wrap gap-2">
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Vue 2/3
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Svelte 4
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Astro
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Tailwind CSS
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              React
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Node.js
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Ruby on Rails
            </li>
          </ul>
        </div>
      </div>
      <!-- Other technologies -->
      <div class="flex flex-col border-b border-gray-300 py-4 md:flex-row">
        <div class="font-bold md:w-1/4">
          <h2 class="mb-1 font-serif text-lg">Other technologies</h2>
          <small class="block text-xs text-gray-400"
            >I have experience with many other languages and technologies.</small
          >
        </div>
        <div class="border-l border-gray-300 pl-4 md:w-3/4">
          <p class="mb-1 font-bold">Systems:</p>

          <ul class="mb-4 flex flex-wrap gap-2">
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Windows
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Mac
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Linux
            </li>
          </ul>

          <div class="mb-1 font-bold">Game Consoles:</div>
          <ul class="mb-4 flex flex-wrap gap-2">
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              PS2
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              PS3
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Xbox 360
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Wii
            </li>
          </ul>

          <p class="font-bold">Other or Past Language Expertise:</p>
          <div class="mb-2 text-sm font-normal text-gray-600">
            (proficient in the past but not recently used in production)
          </div>
          <ul class="mb-4 flex flex-wrap gap-2">
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              ActionScript
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              C#/.NET
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Lua
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              C
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              C++
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              PHP
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              XSLT/XPath
            </li>
          </ul>

          <p class="mb-1 font-bold">Hobbyist Knowledge:</p>
          <ul class="mb-4 flex flex-wrap gap-2">
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Rust
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Lisp
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              assembly
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              LaTeX
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Obj-C
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Smalltalk
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Python
            </li>
          </ul>

          <p class="mb-1 font-bold">Retired from:</p>
          <ul class="mb-4 flex flex-wrap gap-2">
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              Java
            </li>
            <li class="rounded border border-gray-300 bg-gray-100 px-2 py-px">
              ASP.NET
            </li>
          </ul>
        </div>
      </div>

      <!-- Technical Highlights -->
      <div class="border-b border-gray-300 py-12">
        <div class="py-4">
          <h1 class="mb-1 font-serif text-4xl">Technical Highlights</h1>
          <p class="mb-4 font-serif text-sm text-gray-500">
            The really meaty stuff
          </p>
          <p class="mx-auto leading-6">
            I've solved many (very) challenging technical problems over the
            years. This is just a few of the most interesting highlights.
          </p>
        </div>

        <div class="grid gap-8 pt-4 md:grid-cols-2">
          <div>
            <h2 class="mb-2 font-serif text-lg font-semibold">
              Custom Linux Audio / Electron Kiosk System
            </h2>
            <p class="leading-6">
              For a client's interactive kiosk system, I created a custom
              Linux-based OS that booted directly into a secure Electron app
              kiosk. The system featured surround sound
              <span class="italic"> (surprisingly difficult on Linux) </span>,
              automatic updates, remote management, and an advanced audio engine
              that handled multiple overlapping audio tracks with smooth
              crossfading, pausing, and more.
            </p>
          </div>

          <div>
            <h2 class="mb-2 font-serif text-lg font-semibold">
              Rewrite of a internal banking administration system
            </h2>
            <p class="leading-6">
              A large bank client had recently developed an internal
              administration system that was built by a third party that was
              buggy, insecure, difficult to use—and worst of all—very, very
              slow. It took the team six months to build (based on a one month
              estimate) and was horribly insecure (SQL injection, client-only
              password validation, etc.). At the client's request, I completely
              rewrote the entire system from the ground up in ASP.net, which I
              had never used before, in two weeks, in a way that was very fast,
              secure, and easy to use.
            </p>
          </div>

          <div>
            <h2 class="mb-2 font-serif text-lg font-semibold">
              Custom Xbox 360 file packaging system
            </h2>
            <p class="leading-6">
              Microsoft's secure file system for signing XBOX packages was very
              slow, and not very secure. In order to overcome these limitations,
              I created a file packaging system that featured intelligent file
              data distribution, strong security, and custom compression that
              minimized file size and reduced game load times from ~45 seconds
              to &lt; 8 seconds while also greatly reducing the chance of
              hacking.
            </p>
          </div>

          <div>
            <h2 class="mb-2 font-serif text-lg font-semibold">
              Multiple Continuous Integration and Automated Testing Tools
            </h2>
            <p class="leading-6">
              For multiple projects I created custom automated testing,
              building, and continuous integration tools that featured security
              auto-attacks (such as SQL and timing overflows, odd user
              behaviors, etc.), customizable automated testing procedures (also
              scriptable by non-programmers), cross-platform asset packaging and
              management — in PHP, then later Ruby, and eventually Rake, for
              both the web and for games (which is a lot less common).
            </p>
          </div>

          <div>
            <h2 class="mb-2 font-serif text-lg font-semibold">
              Spec-complete, feature enhanced ActionScript 2 interpreter in C++
            </h2>
            <p class="leading-6">
              We had a job working with a AAA-game engine in C++ with a policy
              of not allowing third-party libraries. In order to facilitate
              using Flash as a UI design environment (which is now common with
              AAA games) I wrote a spec-complete ActionScript 2 interpreter with
              enhanced features like thread/process-safe asynchronous updates, a
              fully automated spec test suite self-written in ActionScript, an
              extensive customized game-enhanced UIComponent library for Flash
              artists to rapidly and easily create a game UI for the current and
              future titles, and more.
            </p>
          </div>

          <div>
            <h2 class="mb-2 font-serif text-lg font-semibold">
              Predictive Asset Loading and Render Buffering Pipeline in
              ActionScript 2
            </h2>
            <p class="leading-6">
              The project goal was to make a Facebook game look more awesome
              than anyone had ever seen, and make it look like it was a real 3D
              rendered isometric engine. In order to accomodate the requirements
              of high resolution sprites with many more frames of animation than
              a typical Flash game, I came up with an advanced asset manager
              that intelligently predicted texture usage for pre-caching and
              unloading behind the scenes in partial real-time. To render it, I
              created an accompanying asset buffering and rendering pipeline
              that optimized around the limitations of the Flash renderer. The
              result was an incredibly fancy looking Flash game that allowed
              artists to maximize their art talents while the asset manager,
              renderer and pre-compiler worried about optimization.
            </p>
          </div>
        </div>
      </div>

      <!-- Strengths & Weaknesses -->
      <div class="flex flex-col border-b border-gray-300 py-12 md:flex-row">
        <div class="font-bold md:w-1/4">
          <h2 class="mb-1 font-serif text-lg">Strengths</h2>
          <small class="block text-xs text-gray-400"
            >What I am awesome at!</small
          >
        </div>
        <div class="border-l border-gray-300 pl-4 leading-7 md:w-3/4">
          <ul class="list-disc space-y-2 pl-5">
            <li>
              Predicting failure outcomes and spotting "gap problems", then
              writing code or guiding the process/team to avoid them. As a
              result, I have a lot of experience in code/process optimization,
              robustness, and security.
            </li>
            <li>
              Data architecture, file systems, resource allocation,
              optimization, loading, and caching. If it's not completely clear
              yet, I absolutely love resources and huge datasets.
            </li>
            <li>
              Starting projects and preparing foundational design and
              architecture for others to come along and build on top of.
            </li>
            <li>
              Designing frameworks and tools for empowering programmers or
              artists to do better work or make their lives easier.
            </li>
            <li>
              Leadership methods that produce optimal steady output from
              creative teams over long periods of time that doesn't involve
              crunch hours or dehumanizing practices. Six months into a project
              my teams work better and happier, not worse and sad from burn out.
              People love working for me.
            </li>
            <li>
              A strong work ethic, focused on getting things done because they
              need doing. I am known for focusing for long periods of time on
              single tasks without getting fatigued or bored.
            </li>
            <li>
              Doing things right the first time, so no one ever has to do them
              again. "Make it work, make it right, make it fast" and "do it
              right, do it once" are two mantras my teams hear often.
            </li>
            <li>
              Product design, particularly in human interactions. I can
              accurately judge how people will feel using software and
              create/enhance designs to optimize the human experience.
            </li>
            <li>
              Much to the chagrine of some teams, I am very good at finding bugs
              and breaking things.
            </li>
          </ul>
        </div>
      </div>

      <!-- Weaknesses -->
      <div class="flex flex-col border-b border-gray-300 py-12 md:flex-row">
        <div class="font-bold md:w-1/4">
          <h2 class="mb-1 font-serif text-lg">Weaknesses</h2>
          <small class="block text-xs text-gray-400"
            >What I am not so awesome at.</small
          >
        </div>
        <div class="border-l border-gray-300 pl-4 leading-7 md:w-3/4">
          <ul class="list-disc space-y-2 pl-5">
            <li>
              2D/3D visual math, particularly geometry and calculus. Despite my
              strong math skills in other areas, and extensive tutoring by team
              members I have never clicked with spatial math.
            </li>
            <li>
              Algorithms, particularly Greek symbol-heavy ones, particularly
              hypothetical. I have always hired someone for this. Once it's
              code/algebra I'm great with it, but until then, not so much.
            </li>
            <li>
              Workflows that require compiling; the down time while waiting for
              compiling is hyper disruptive to my productivity and draining to
              my happiness.
            </li>
            <li>
              Working with less experienced developers: a previous manager said
              that I am excellent at taking the 80-100% and getting 150% out of
              them, but not great at reaching below that 80% to bring them up. I
              work best with other experienced developers.
            </li>
            <li>
              Maintenance work and end of project bug fixing and wrap-up. Some
              people love this, I do not. Getting the best work out of me
              involves putting me ahead of others doing the foundation and
              pioneering work.
            </li>
          </ul>
        </div>
      </div>

      <!-- Testimonials headline -->
      <div class="py-6">
        <h1 class="font-serif text-4xl">Testimonials</h1>
      </div>

      <!-- Testimonials -->
      <div class="mb-12 space-y-8">
        <!-- Testimonial 1 -->
        <div class="mx-auto flex max-w-3xl flex-col gap-4 md:flex-row">
          <div class="relative h-24 w-24 shrink-0">
            <img
              src="images/photo-bg.png"
              class="absolute inset-0 h-full w-full rounded-full object-cover"
            />
            <img
              src="images/photo-josh.jpg"
              class="absolute inset-0 h-full w-full rounded-full object-cover"
            />
          </div>
          <div>
            <p class="leading-6">
              &ldquo;I could always count on Brian to do what was necessary to
              get the job done. He also has a very forward thinking approach and
              was able to predict and avoid many pitfalls.&rdquo;
            </p>
            <div class="mt-1 font-bold">
              <a>Josh Heenan</a>
            </div>
          </div>
        </div>

        <!-- Testimonial 2 -->
        <div class="mx-auto flex max-w-3xl flex-col gap-4 md:flex-row">
          <div class="relative h-24 w-24 shrink-0">
            <img
              src="images/photo-bg.png"
              class="absolute inset-0 h-full w-full rounded-full object-cover"
            />
            <img
              src="images/photo-daniel.jpg"
              class="absolute inset-0 h-full w-full rounded-full object-cover"
            />
          </div>
          <div>
            <p class="leading-6">
              &ldquo;Brian displayed a great aptitude both for solving complex
              technical problems and explaining relevant details of his
              solutions in a clear and concise manner. Brian kept the project on
              track without making his team members feel micromanaged, fostering
              creativity and encouraging everyone to provide input for important
              decisions. Furthermore, Brian took any available opportunity to
              help members of his team learn new skills that they could apply to
              the project, and I found his guidance invaluable on many
              occasions. Regardless of the situation, Brian was always open,
              approachable, and eager to do whatever he could to ensure the
              completion of tasks, making it easy to hash out development issues
              whenever the need arose. Working with Brian was a very rewarding
              experience and I would be happy to have the opportunity to do so
              again.&rdquo;
            </p>
            <div class="mt-1 font-bold">
              <a>Daniel Casslassy</a>
            </div>
          </div>
        </div>

        <!-- Testimonial 3 -->
        <div class="mx-auto flex max-w-3xl flex-col gap-4 md:flex-row">
          <div class="relative h-24 w-24 shrink-0">
            <img
              src="images/photo-bg.png"
              class="absolute inset-0 h-full w-full rounded-full object-cover"
            />
            <img
              src="images/photo-john.jpg"
              class="absolute inset-0 h-full w-full rounded-full object-cover"
            />
          </div>
          <div>
            <p class="leading-6">
              &ldquo;I had the pleasure of working on a team led by Brian at Pi
              Studios. Brian displayed a great aptitude both for solving complex
              technical problems and explaining relevant details of his
              solutions in a clear and concise manner. Brian kept the project on
              track without making his team members feel micromanaged, fostering
              creativity and encouraging everyone to provide input for important
              decisions. Furthermore, Brian took any available opportunity to
              help members of his team learn new skills that they could apply to
              the project, and I found his guidance invaluable on many
              occasions. Regardless of the situation, Brian was always open,
              approachable, and eager to do whatever he could to ensure the
              completion of tasks, making it easy to hash out development issues
              whenever the need arose. Working with Brian was a very rewarding
              experience and I would be happy to have the opportunity to do so
              again.&rdquo;
            </p>
            <div class="mt-1 font-bold">
              <a>John Broadway</a>
            </div>
          </div>
        </div>
      </div>

      <!-- LinkedIn link -->
      <div class="w-full border-t border-gray-300 py-4 text-center">
        <div class="mb-4">For my complete work history and testimonials</div>

        <a
          href="https://www.linkedin.com/in/brianbugh"
          class="btn btn-linkedin inline-block w-full md:w-auto"
        >
          See my profile on
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 448 512"
            class="inline h-5 w-5 align-sub"
          >
            <path
              d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5c0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7c-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5c67.2 0 79.7 44.3 79.7 101.9V416z"
              fill="currentColor"></path>
          </svg>
          LinkedIn
        </a>
      </div>
    </main>
    <Footer />
  </body>
</Layout>
